<h1>Contact</h1>
<nav class="nav primary-nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/resume">Resume</a></li>
	</ul>
</nav>

<form action='/secret' method='post'>
	<label>
		Name
		<input type="text" name="name" placeholder="Full name" required/>
	</label>

	<label>
		Email
		<input type ="email" placeholder="Email Address" required/>
	</label>

	<label>
		Comments
		<textarea type='text'name="message" placeholder="Message here">
		</textarea>
	</label>

	<!-- <input type='submit' /> -->
	<button class="btn"><span>Submit</span></button>
</form>