<h1 class="logo">
				<a href="/" style="color: #c6c9cc;">About<br>Me</a>
</h1>

<header class="primary-header container">
	<nav class="nav primary-nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/resume">Resume</a></li>
		</ul>
	</nav>
</header>

<section class="row-alt">
		<div class="lead container">
			<h2>Who Am I?</h2>
			<p>I am Henry Doan a web developer and excitied to learn new things.</p>
		</div>
</section>

<section>
	<div class="skill">
		<h3>My Skills</h3>
			<ul>
				<li>HTML & CSS</li>
				<li>SQL</li>
				<li>RUBY</li>
				<li>GIT</li>
				<li>Chrome DEV Tools</li>
				<li>Sinatra</li>
			</ul>
	</div>
</section>

<section class="row-alt2">
		<div class="center">
			<h4>About</h4>
			<p>I am a freelancer who learned from DEV Point Labs Front End Web Development Course. With coding I make websites, games, animations and images.</p>
		</div>
</section>
