<h1>Resume</h1>
<nav class="nav primary-nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/resume">Resume</a></li>
	</ul>
</nav>

<a class= "btn2" href="https://www.linkedin.com/in/henrydoan">Click Here</a>